<mat-toolbar color="primary">

  <span><mat-icon> </mat-icon>Logo/Empresa</span>

  <div class="espaco"></div>
  <a mat-button routerLink="">Home<mat-icon>home</mat-icon>
  </a>
  <a mat-button routerLink="">Cadastrar Funcionario<mat-icon>home</mat-icon>
  </a>
  <a mat-button routerLink="ponto">Ponto <mat-icon>receipt</mat-icon>
  </a>
  <a mat-button routerLink="tarefas">Tarefas <mat-icon>event_note</mat-icon>
  </a>
  <a mat-raised-button color="warn" routerLink="login" >LogOut<mat-icon>exit_to_app</mat-icon></a>

</mat-toolbar>
